:root {
  --padding-left: 5%;
  --padding-right: 5%;
  --conic-gradient: conic-gradient(from 0deg, #f43ba6, #ffbc00, #f43ba6);
}

body,
main,
.markdown-content {
  font-family: var(--font-sans);
}

/* Only style the main page scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: var(--color-box-shadow-yellow);
  border-radius: 6px;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  display: none;
  background: var(--color-neutral-950);
}

*:not(html):not(body)::-webkit-scrollbar {
  display: none;
}
