@import "astro-orbit/theme.css";

:root {
  /*
   * Theme overrides
   */
  --font-sans:
    "Plus Jakarta Sans", "Inter", "Helvetica Neue", "Arial", sans-serif;

  /* Primary – Wild Strawberry (#f43ba6) */
  --color-primary-50: #fef1f9;
  --color-primary-100: #fde6f5;
  --color-primary-200: #fdcdec;
  --color-primary-300: #fda4dc;
  --color-primary-400: #fb6bc2;
  --color-primary-500: #f43ba6;
  --color-primary-600: #e41e87;
  --color-primary-700: #c6106b;
  --color-primary-800: #a41059;
  --color-primary-900: #88134c;
  --color-primary-950: #54031a;
  --color-primary-button-text: white;
  /* TODO: remove - only support colors up to 950 */
  --color-primary-1000: #f43ba6;

  /* Secondary – Selective Yellow (#ffbc00) */
  --color-secondary-50: #fffeea;
  --color-secondary-100: #fffac5;
  --color-secondary-200: #fff685;
  --color-secondary-300: #ffeb46;
  --color-secondary-400: #ffdc1b;
  --color-secondary-500: #ffbc00;
  --color-secondary-600: #e29100;
  --color-secondary-700: #bb6602;
  --color-secondary-800: #984f08;
  --color-secondary-900: #7c400b;
  --color-secondary-950: #482100;
  --color-secondary-button-text: black;

  /* Accent – Sky Blue (#00bfff) */
  --color-accent-50: #e5f9ff;
  --color-accent-100: #b3edff;
  --color-accent-200: #80e0ff;
  --color-accent-300: #4dd3ff;
  --color-accent-400: #1ac6ff;
  --color-accent-500: #00bfff;
  --color-accent-600: #00a9e6;
  --color-accent-700: #008cbd;
  --color-accent-800: #00719a;
  --color-accent-900: #005776;
  --color-accent-950: #002f40;
  --color-accent-1000: #132538;
  --color-accent-1100: #113c63;
  --color-accent-button-text: white;

  /* Neutral */
  --color-neutral-0: #ffffff;
  --color-neutral-50: #f7f9fc;
  --color-neutral-100: #eef2f7;
  --color-neutral-200: #d9e1ec;
  --color-neutral-300: #c0d0e0;
  --color-neutral-400: #9ab2c9;
  --color-neutral-500: #7495b2;
  --color-neutral-600: #4f789b;
  --color-neutral-700: #345c81;
  --color-neutral-800: #204160;
  --color-neutral-900: #122a42;
  --color-neutral-950: #071a2e;
  --color-neutral-1000: #b6b6b6;
  --color-neutral-button-text: white;

  --color-links-yellow: #d09a00;
  --color-black-last-block-section: #071a2e0d;
  --color-black-222: #222;

  /*
   * Other styles
   */
  --conic-gradient: conic-gradient(from 0deg, #f43ba6, #ffbc00, #f43ba6);
}

body,
main,
.markdown-content {
  font-family: var(--font-sans);
}

/* Only style the main page scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: var(--color-box-shadow-yellow);
  border-radius: 6px;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  display: none;
  background: var(--color-neutral-950);
}

*:not(html):not(body)::-webkit-scrollbar {
  display: none;
}
